.btn {
  padding: 0.8rem 1.3rem;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  
}

/* OutlinedButton */
.outlined-btn {
    background-color: #182706;
    color: #d5d8d5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
    transition: background-color scale 0.3s ease;
  }
  
  .outlined-btn:hover {
    color: #182706;
    background-color: #e49408;
    transform: scale(1.1);
  }
  
  /* ContainedButton */
.contained-btn {
    background-color: #e49408;
    color: #d5d8d5;
    transition: background-color scale 0.3s ease;
  }
  
  .contained-btn:hover {
    background-color: #182706;
    color: #e49408;
    transform: scale(1.1);
    /* boxShadow: 30px #454544; */
  }
  
  /* ArrowButton */
  .arrow-btn {
    color: #e49408;
    cursor: pointer;
    transition: transform color 0.2s ease;
  }
  
  .arrow-btn:hover {
    color: #d5d8d5;
    transform: scale(1.5); 
  }

  
  /* DataButton */
  .data-btn {
    cursor: pointer;
    color: #d5d8d5;
    border: 1px solid #d5d8d5;
    background-color: #182706;
    padding: 0.2rem;
    font-size: 0.8rem;
    transition: color 0.2s ease;
  }
  
  .data-btn:hover {
    color: #182706;
    background-color: #d5d8d5;
    /* transform: scale(1.5); */
  }

  .data-btn.isSelected {
    color: #182706;
    background-color: #d5d8d5;
    /* transform: scale(1.5); */
  }
  
  