

  
/* .breadcrumbs */

.breadcrumbs {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-top: 8rem;
  
}


/* navbar */
.navbar {
  z-index: 9999999;
  display: flex;
  width: 100%;
  position: static;
  background-color: transparent!important;
  box-shadow: none; 
  gap: 4rem;
  padding: 0.5rem;
}

.navbar.scroll-on {
backdrop-filter: blur(20px);
}


/* footer */

.grid-3 {
  grid-template-columns: repeat(3, 1fr);

}

.footer-logo{
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.footer-icon {
  display: flex;
  width: 20px;
  height: 20px;
  color: #e49408;
}

.footer-icon svg {
  align-self: center;
}


/* intro */
.img-intro {
  position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}  

.overlay-intro {
  position: absolute;
    z-index: 2;
    background-color: rgba(66, 59, 16, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: " ";
}

.text-intro {
  position: absolute;
    z-index: 3;
    display: flex;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }


/* item */
.item-scroll {
  width: 100%;
  display: flex;
  gap: 1rem;
  position: relative;
}


.item-card{
  width: 330px;
  height: fit-content;
  max-height: max-content;
  overflow: hidden;
  border-radius: 0!important;
  --Card-padding: 0px;
  transition: all 0.4s ease-out;
}  

.item-card.isList{
  width: inherit;
}  


.item-card:hover {
  transform: translateY(-5%);
}

.item-box.isList {
  flex-direction: row; 
           
}
 
.flex-1 {
  flex: 1;
  width: 100%;
  height: 100%;
}

.item-data {
  display: flex;
  gap: 0.5rem;
  justify-self: flex-start;
  flex: 2;
}

.item-databox{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.filters {
  display: flex;
    width: 100%;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    padding: 0 2rem;
}



/* scroll */

/* room data */
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.arrow-box{
  display: flex;
gap: 1rem;
width: 32px;
height: 32px;
}



/* modal */
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d5d8d5;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
}

.modal-view {
  background-color: #182706;
    overflow: hidden;
    width: 90%;
    box-sizing: border-box;
    padding: 3rem;

    animation: KeyframeFadeIn 0.3s ease forwards;
}

@keyframes KeyframeFadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal-header {
    display: flex;
    align-self: flex-end;
}


.modal-data {
  display: flex;
 gap: 2rem;
}


.btn-close {
  font-size: 1.5rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #e49408;
}

.btn-close:hover {
  color: #d5d8d5;
}

.modal-content {
  flex: 1;
  gap: 2rem;
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  justify-content: space-between;
}

.form-label {
  display: flex;
  gap: 1rem;
  width: 100%;
}





.css-1oqqzyl-MuiContainer-root {
  padding-left: 0!important;
  padding-right: 0!important;
}


/* room details */


.amenities {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 1rem; 
  width: 100%;
}

.icon {
  display: flex;
}
.icon svg {
  align-self: center;
}