

/* width */
/* min: 70 */
.w-100 {
  width: 100%;
  }
  
  /* min: 70 */
  .w-70 {
  width: 70%;
  }
  
  /* min: 30 */
  .w-30 {
  width: 30%;
  /* text-align: center; */
  }
  
  
  /* gutters */  
  .p-05 {
    padding: 0.5rem;
  }
  
  .p-lg {
  padding: 5rem;
  }
  
  
  .g-sm {
    gap: 0.5rem;
    }
    
    .g-1 {
    gap: 1rem;
    }
    
  
  
  
  /* alignments */
  .a-start {
    justify-content: center;
    align-items: flex-start;
  }
  
  .a-center{
    justify-content: center;
    align-items: center;
  }
  
  .a-end{
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .j-start {
    justify-content: flex-start;
    align-items: center;
  }
  
  
  /* display */
  
  .d-web {
    display: flex;
    gap: 2rem;
  }
  
  .d-mob {
    display: none;
  }
  
  .d-flex {
  display: flex;
  width: 100%;
  }
  
  .d-block{
    display: block;
  }
  
  
  /* buttons */
  
  .btn-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex: 1;
    }
  

/* containers */

/* responsive container  */
.web-container {
  display: flex;
  width: 100%; 
  justify-content: center;
  gap: 1rem;
}


.page-container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  height: auto;
  justify-content: center;
  align-content: center;
  background-color: #182706;
}

.section-container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  align-items: center;
}

.container-search {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.scrollable-container {
overflow-x: scroll;
scroll-behavior: smooth;
scroll-snap-type: x mandatory;
scrollbar-width: none;
}

.scrollable-container::-webkit-scrollbar {
display: none;
}


.itemlist-container {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 3rem;
  padding: 0 4rem;
  }
  


  .room-item {
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: start;
    transition: opacity 0.2s ease-in;
  
  }
  
  .room-item:hover, .room-item:focus-within {
    opacity: 1;
    backdrop-filter: blur(10px);
  }


.item-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}


  
.feature-container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  gap: 5rem;
}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;     
}


  /* room detail */
  .detail-box {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    }
    
    
    
    /* gallery */
    .gallery-box { 
    display: grid;
    height: auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
    }
    


/* en mobiles */
/* hasta 900px */
@media (max-width: 900px) {
  .w-70, .w-30 {
    width: 100%; 
  }

  .d-web {
    display: none;
  }

  .d-mob {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  .web-container {
    flex-direction: column;
  }
  
  .container-search {
    flex-direction: column;
    gap: 0.5rem;
  }
}


  @media (min-width: 1200px) {
    .css-1oqqzyl-MuiContainer-root {
    max-width: 2080px!important;
    }
    .p-0 {
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }
  
  @media (min-width: 500px) {
    .css-1oqqzyl-MuiContainer-root {
    max-width: 2080px!important;
    }
    .p-0 {
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }
  