  
  /* fontsize */
  .fs-05 {
    font-size: 0.5rem!important;
  }
  .fs-1 {
    font-size: 1rem!important;
  }
  .fs-15 {
    font-size: 1.5rem!important;
  }
  .fs-2 {
    font-size: 2rem!important;
  }
  .fs-3 {
    font-size: 3rem!important;
  }
  .fs-4 {
    font-size: 4rem!important;
  }


  /* styles */
  .bold {
    font-weight: 700;
  }
  
  .italic {
    font-style: italic;
  }



  /* text */
  .text-bc {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #142006;
    background-color: #e49408;
    padding: 0.4rem 0.5rem;
  }
  
  .title {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: "EB Garamond, serif";
  }
  
  .subtitle {
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
  }
  
  .data-info {
    font-size: 0.8rem;
    color: #d5d8d5;
    background-color: #182706;
  }

  
  .quote {
    font-size: 1rem;
    font-weight: 400;
    text-transform: lowercase;
    font-style: italic;
    text-align: center;
  }

  /* components */

  /* navbar */
  .block-font {
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .block-font a{
    color: #d5d8d5;
    
  }
  
  .block-font a:hover {
    color: #e49408;

  }

  .block-font .active{
    color: #e49408!important;
  }


  /* card */
  .card-title {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  
  .price {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "EB Garamond, serif";
  }