.navbar {
    z-index: 9999999;
    display: flex;
    width: 100%;
    position: static;
    background-color: transparent!important;
    /* background-color: #182706; */
    box-shadow: none;
    gap: 4rem;
    padding: 0.5rem;
  }


.menu-mobile {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.intro {
  position: relative;
  align-self: center;
}
.introImg {
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    /* max-height: 500px; */
    overflow: hidden;
    position: relative;
}  
  
.introOverlay {
    z-index: 2;
    background-color: rgba(66, 59, 16, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "  ";
}
.introText {
    z-index: 3;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    position: absolute;
  }
  
  .containerResponsive {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5rem 2rem;
    border-radius: 10px;
    gap: 1rem;
  }
  
  .boxResponsive {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
  }

  
  @media (max-width: 767px) {
    .containerResponsive {
      flex-direction: column;
    }
  }
  
  @media (min-width: 900px) {
    .containerResponsive {
      flex-direction: row;
    }
    .menu-mobile {
      display: none;
    }
  }

.breadcrumbs {
  margin-top: 2rem;
}
  
.room-item {
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: start;
  transition: opacity 0.2s ease-in;

}

.room-item:hover, .room-item:focus-within {
  opacity: 1;
  backdrop-filter: blur(10px);
}


.banner {
  z-index: 222;
  width: 100%;
  
}

.scrollable-container {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

.scrollResponsive {
  width: 100%;
}

.titlesResponsive {
  width: 100%;
}

/* Para dispositivos con un ancho mayor o igual a 768px (md) */
@media (min-width: 768px) {
  .scrollResponsive {
    width: 70%; 
  }

  .titlesResponsive {
    width: 30%; 
  }
}


.item-listContainer {
  width: 100%;
  display: flex;
  gap: 1rem;
  position: relative;
}


.item-card{
  width: 330px;
  height: fit-content;
  max-height: max-content;
  overflow: hidden;
  border-radius: 0!important;
  --Card-padding: 0px;
  transition: all 0.4s ease-out;
}  

.item-card.isList{
  width: fit-content;
}  


.item-card:hover {
  transform: translateY(-5%);
}

.item-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 1rem;
  /* align-items: space-between; */
}


.item-data {
  display: flex;
  gap: 0.5rem;
  justify-self: flex-start;
  flex: 2;
}

.item-databox{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}


.item-price {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex: 1;
}



.itemlist-box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 3rem;
}
